@model V3EventManagement.Models.tblEvent

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("EventDetail","Home")){
	<!--<div class="col-md-4">
	    <h3 class="text-capitalize">C# Intro</h3><br/>
	    <a href="@Url.Action("Contact","Home")"><img src="~/Images/csharp.gif" /></a>
	</div>

	<div class="col-md-4">
	    <h3 class="text-capitalize">Web Development</h3><br/><br/>
	    <a href="@Url.Action("About", "Home")"><img src="~/Images/logo-1.png" /></a>
	</div>

	<div class="col-md-4">
	    <h3 class="text-capitalize">Angular Projects</h3><br/>
	    <img src="~/Images/angularjs.png" />
	</div>-->

	foreach (var event in Model)
	{
	    <div class="col-md-4">
			@event.Name
			@event.location
		</div>
	}

}
